/* style.css */

h1 {
  color: #F72585;
  font-family: Impact, sans-serif;
}

a:link {
  color: #FFD6FF;
}

a:visited {
  color: #FFD6FF;
}

.navbar {
  background-color: #480CA8;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-size: 20px;
  font-family: "Courier", monospace;

}

.navbar-link:first-child {
  font-size: 24px;
}


.navbar-user-info {
  display: flex;
  justify-content: flex-end;
  color: #FFD6FF;
  font-size: 24px;
}

.navbar-link {
  color: #FFD6FF;
  margin-right: 50px;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

h2 {
  color: #4361EE;
}

.book-list {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 10px;
}

.book-card {
  flex: 0 0 auto;
  width: 100px; /* Adjust the width of each book card as needed */
  height: 145px; /* Updated height to 100px */
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.book-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.book-card img {
  height: 140px;
  width: auto;
  object-fit: contain;
}


/* Hide scrollbar for Chrome */
.book-list::-webkit-scrollbar {
  width: 8px;
}

.book-list::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Adjust the background color */
}

.book-list::-webkit-scrollbar-thumb {
  background-color: #B8C0FF; /* Adjust the thumb color */
}

.book-list::-webkit-scrollbar-thumb:hover {
  background-color: #FFD6FF; /* Adjust the thumb color on hover  */
}


/* REVIEWS STYLING */

.review-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.review-card {
  border: 1px solid #ddd;
  background-color: #BBD0FF;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  max-width: 400px;
  max-height: 130px;
  overflow-y: auto; /* Change overflow-y to auto */
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: hidden;
  word-wrap: break-word;
}

/* Hide scrollbar for Chrome */
.review-card::-webkit-scrollbar {
  width: 8px;
}

.review-card::-webkit-scrollbar-track {
  background-color: #B8C0FF; /* Adjust the background color */
}

.review-card::-webkit-scrollbar-thumb {
  background-color: #B8C0FF; /* Adjust the thumb color */
}

.review-card::-webkit-scrollbar-thumb:hover {
  background-color: #FFD6FF; /* Adjust the thumb color on hover  */
}










.review-card img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.review-card-content {
  flex-grow: 1;
}

.review-card-title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier", monospace;
  color: #480CA8;
  margin-bottom: 10px;
}

.review-card-review {
  font-size: 14px;
  font-family: "Courier", monospace;
}


/* REVIEW FORM CONTAINER*/

.review-form-container form {
  background-color: #FFD6FF;
  display: flex;
  flex-direction: column;
  align-items: right; /* Center the form horizontally */
  justify-content: center; /* Center the form vertically */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  height: 100%;
  width: 25%;
  margin: 0 auto;
}

.review-form-container form .form-group {
  margin-bottom: 20px;
}

.review-form-container form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #F72585;
  font-family: "Courier", monospace;
}

.review-form-container form select,
.review-container form input[type="number"],
.review-container form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.review-form-container form button[type="submit"] {
  padding: 10px;
  background-color: #4895EF;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.review-form-container form button[type="submit"]:hover {
  background-color: #BBD0FF;
}

/* REVIEW CONTAINER */

.delete-button {
  background-color: #FFD6FF;
  color: #F72585;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.save-button {
  background-color: #80FFDB;
  color: #5390D9;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.edit-button {
  background-color: #5390D9;
  color: #5E60CE;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

