<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review App</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
<div class="main-container">
    <h1 class="title">BookReview</h1>
    <nav class="navbar">
        <div class="navbar-links">
            <a class="navbar-link" id="home-link" href="#">- Read - </a>
            <a class="navbar-link" id="profile-link" href="#">- Review -</a>
            <a class="navbar-link" id="review-link" href="#">- Repeat -</a>
        </div>
        <div class="navbar-user-info">
            <div class="navbar-user">
                <p class="navbar-item">Logged in as <span id="loggedInUsername" th:text="${loggedInUsername}"></span></p>
                <a class="navbar-item" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
    <div class="review-form-container">
        <h2>Create a Book Review</h2>
        <form id="review-form" th:action="@{/api/v1/reviews/user/{userId}/book/{bookId}(userId=${loggedInUserId}, bookId=${targetBookId})}" th:object="${review}" method="post">
        <div class="form-group">
                <label for="book-title">Book Title</label>
                <select id="book-title" name="bookTitle">
                    <option value="" disabled selected>Select a Book Title</option>
                    <!-- Book titles will be dynamically added  -->
                </select>
            </div>
            <input type="hidden" id="book-id" name="bookId">
            <div class="form-group">
                <label for="review">Review</label>
                <textarea id="review" name="review" required></textarea>
            </div>
            <button id="create" type="submit">Submit</button>
        </form>
    </div>
    <div class="book-container">
        <div class="section">
            <h2>View the book collection:</h2>
            <div class="book-list" id="book-list">
                <!-- Book cards will be dynamically added here -->
            </div>
        </div>
        <div class="section">
            <h2>Your Book Reviews:</h2>
            <div class="review-container" id="review-container"></div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var loggedInUserId = [[${user.id}]] || null;
</script>
<script th:src="@{/js/home.js}"></script>
</body>
</html>




